.card_character {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 250px;
  padding: 20px;
  background: var(--dark-primary-color);
  border: 1px solid var(--red);
  border-radius: 6px;
}

.card_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card_title span,
.card_title h3 {
  font-size: var(--text-lg);
  text-transform: uppercase;
  font-weight: 600;
}

.card_title__xs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card_title__xs h3 {
  font-size: var(--text-sm);
  text-align: right;
}

.card_figure img {
  border-radius: 4px;
}

.card_details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  gap: 1rem;
}
