:root {
  * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    box-sizing: border-box;
    vertical-align: baseline;
  }

  * {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  body,
  select,
  input,
  button,
  textarea {
    font-family: var(--fontfamily);
  }

  --primary-color: #34495e;
  --dark-primary-color: #2c3e50;

  --secondary-color: #ecf0f1;
  --dark-secondary-color: #bdc3c7;

  --green: #2ecc71;
  --dark-green: #27ae60;

  --red: #e74c3c;
  --dark-red: #c0392b;

  --blue: #3498db;
  --dark-blue: #2980b9;

  --yellow: #f1c40f;
  --dark-yellow: #f39c12;

  --white: #ffffff;
  --black: #000000;

  --text-h1: 2rem;
  --line-height-h1: 3;

  --text-h2: 1.5rem;
  --line-height-h2: 2rem;

  --text-h3: 1.125rem;
  --line-height-h3: 1.5rem;

  --text-md: 1rem;
  --line-height-md: 1.5rem;

  --text-sm: 0.8rem;
  --line-height-sm: 1.5rem;

  --text-xs: 0.6rem;
  --line-height-xs: 1rem;

  --font-family: Open Sans, 'sans-serif';
}
