.header {
  display: flex;
  background-color: var(--primary-color);
  color: var(--white);
  height: 10vh;
  border-bottom: 1px solid var(--dark-primary-color);
}

.header section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header button {
  display: flex;
  color: var(--white);
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  padding: 4px;
}
